
Primer año/Programas C/Clave Privada.ppk
Primer año/Programas C/Clave Pública
*.file
*.png
Presentación transcrítico/Transcritica logarítmica/Strogatz ejemplo
*.pdf
Primer año/Temas avanzados de fluidos/**
*.jpg
Segundo Año/Traspas/Programas Python/Tangente_diferenciada/Python/salida.out
Segundo Año/Traspas/Programas Python/Tangente_diferenciada/Python/rotate_axes3d_sgskip.py
Segundo Año/Traspas/Programas Python/Tangente_diferenciada/Python/Profunc.py
Segundo Año/Traspas/Programas Python/Tangente_diferenciada/Python/Graficar.py
Segundo Año/Traspas/Programas Python/Tangente_diferenciada/Python/funciones.py
Segundo Año/Traspas/Programas Python/Tangente_diferenciada/Python/Documentacion.txt
Segundo Año/Traspas/Programas Python/Tangente_diferenciada/Python/__pycache__/funciones.cpython-38.pyc
Segundo Año/Traspas/Programas Python/Tangente_diferenciada/Python/__pycache__/funciones.cpython-36.pyc
Segundo Año/Traspas/Programas Python/redes.out
Segundo Año/Traspas/Programas Python/Homofilia_estatica/Python/salida.out
Segundo Año/Traspas/Programas Python/Homofilia_estatica/Python/rotate_axes3d_sgskip.py
Segundo Año/Traspas/Programas Python/Homofilia_estatica/Python/Profunc.py
Segundo Año/Traspas/Programas Python/Homofilia_estatica/Python/Graficar.py
Segundo Año/Traspas/Programas Python/Homofilia_estatica/Python/funciones.py
Segundo Año/Traspas/Programas Python/Homofilia_estatica/Python/Documentacion.txt
Segundo Año/Traspas/Programas Python/Homofilia_estatica/Python/__pycache__/funciones.cpython-38.pyc
Segundo Año/Traspas/Programas Python/Homofilia_estatica/Python/__pycache__/funciones.cpython-36.pyc
Segundo Año/Traspas/Programas Python/Crear redes.py
Segundo Año/Traspas/Programas Python/Complemento_Poster/Python/salida.out
Segundo Año/Traspas/Programas Python/Complemento_Poster/Python/rotate_axes3d_sgskip.py
Segundo Año/Traspas/Programas Python/Complemento_Poster/Python/Profunc.py
Segundo Año/Traspas/Programas Python/Complemento_Poster/Python/Graficos extra.py
Segundo Año/Traspas/Programas Python/Complemento_Poster/Python/Graficar.py
Segundo Año/Traspas/Programas Python/Complemento_Poster/Python/funciones.py
Segundo Año/Traspas/Programas Python/Complemento_Poster/Python/Documentacion.txt
Segundo Año/Traspas/Programas Python/Complemento_Poster/Python/__pycache__/funciones.cpython-38.pyc
Segundo Año/Traspas/Programas Python/Complemento_Poster/Python/__pycache__/funciones.cpython-36.pyc
Segundo Año/Traspas/Programas Python/CI_variables/Python/salida.out
Segundo Año/Traspas/Programas Python/CI_variables/Python/rotate_axes3d_sgskip.py
Segundo Año/Traspas/Programas Python/CI_variables/Python/Profunc.py
Segundo Año/Traspas/Programas Python/CI_variables/Python/Graficar.py
Segundo Año/Traspas/Programas Python/CI_variables/Python/funciones.py
Segundo Año/Traspas/Programas Python/CI_variables/Python/Documentacion.txt
Segundo Año/Traspas/Programas Python/CI_variables/Python/__pycache__/funciones.cpython-38.pyc
Segundo Año/Traspas/Programas Python/Cambios_parametros/Python/salida.out
Segundo Año/Traspas/Programas Python/Cambios_parametros/Python/Profunc.py
Segundo Año/Traspas/Programas Python/Cambios_parametros/Python/Graficar.py
Segundo Año/Traspas/Programas Python/Cambios_parametros/Python/funciones.py
Segundo Año/Traspas/Programas Python/Cambios_parametros/Python/Documentacion.txt
Segundo Año/Traspas/Programas Python/Cambios_parametros/Python/__pycache__/funciones2D.cpython-36.pyc
Segundo Año/Traspas/Programas Python/Cambios_parametros/Python/__pycache__/funciones.cpython-39.pyc
Segundo Año/Traspas/Programas Python/Cambios_parametros/Python/__pycache__/funciones.cpython-38.pyc
Segundo Año/Traspas/Programas Python/Cambios_parametros/Python/__pycache__/funciones.cpython-36.pyc
Segundo Año/Traspas/Programas C/src/main.c
Segundo Año/Traspas/Programas C/src/inicializar.h
Segundo Año/Traspas/Programas C/src/inicializar.c
Segundo Año/Traspas/Programas C/src/general.h
Segundo Año/Traspas/Programas C/src/general.c
Segundo Año/Traspas/Programas C/src/avanzar.h
Segundo Año/Traspas/Programas C/src/avanzar.c
Segundo Año/Traspas/Programas C/salida_Tangente_diferenciada9.out
Segundo Año/Traspas/Programas C/salida_Tangente_diferenciada8.out
Segundo Año/Traspas/Programas C/salida_Tangente_diferenciada7.out
Segundo Año/Traspas/Programas C/salida_Tangente_diferenciada6.out
Segundo Año/Traspas/Programas C/salida_Tangente_diferenciada5.out
Segundo Año/Traspas/Programas C/salida_Tangente_diferenciada4.out
Segundo Año/Traspas/Programas C/salida_Tangente_diferenciada3.out
Segundo Año/Traspas/Programas C/salida_Tangente_diferenciada2.out
Segundo Año/Traspas/Programas C/salida_Tangente_diferenciada17.out
Segundo Año/Traspas/Programas C/salida_Tangente_diferenciada16.out
Segundo Año/Traspas/Programas C/salida_Tangente_diferenciada15.out
Segundo Año/Traspas/Programas C/salida_Tangente_diferenciada14.out
Segundo Año/Traspas/Programas C/salida_Tangente_diferenciada13.out
Segundo Año/Traspas/Programas C/salida_Tangente_diferenciada12.out
Segundo Año/Traspas/Programas C/salida_Tangente_diferenciada11.out
Segundo Año/Traspas/Programas C/salida_Tangente_diferenciada10.out
Segundo Año/Traspas/Programas C/salida_Tangente_diferenciada1.out
Segundo Año/Traspas/Programas C/salida_Tangente_diferenciada0.out
Segundo Año/Traspas/Programas C/Revision/main.c
Segundo Año/Traspas/Programas C/Revision/inicializar.h
Segundo Año/Traspas/Programas C/Revision/inicializar.c
Segundo Año/Traspas/Programas C/Revision/general.h
Segundo Año/Traspas/Programas C/Revision/general.c
Segundo Año/Traspas/Programas C/Revision/avanzar.h
Segundo Año/Traspas/Programas C/Revision/avanzar.c
Segundo Año/Traspas/Programas C/Readme.md
Segundo Año/Traspas/Programas C/Progreso.txt
Segundo Año/Traspas/Programas C/Opiniones.e
Segundo Año/Traspas/Programas C/Metainstanciacion.sh
Segundo Año/Traspas/Programas C/Makefile
Segundo Año/Traspas/Programas C/Instanciar.sh
Segundo Año/Traspas/Programas C/HE_v0/main.c
Segundo Año/Traspas/Programas C/HE_v0/inicializar.h
Segundo Año/Traspas/Programas C/HE_v0/inicializar.c
Segundo Año/Traspas/Programas C/HE_v0/general.h
Segundo Año/Traspas/Programas C/HE_v0/general.c
Segundo Año/Traspas/Programas C/HE_v0/avanzar.h
Segundo Año/Traspas/Programas C/HE_v0/avanzar.c
Segundo Año/Traspas/Programas C/Ejecutar.sh
Segundo Año/Traspas/Programas C/Compilar.sh
Segundo Año/Traspas/Programas C/bin/TTanh_c.o
Segundo Año/Traspas/Programas C/bin/main_c.o
Segundo Año/Traspas/Programas C/bin/inicializar_c.o
Segundo Año/Traspas/Programas C/bin/general_c.o
Segundo Año/Traspas/Programas C/bin/avanzar_c.o
Segundo Año/Traspas/Programas C/Asesinar.sh
Segundo Año/Traspas/Programas C/Archivo.c
Segundo Año/Traspas/Programas C/.salida_3_param18.out.swp
Segundo Año/Traspas/Programas C/.salida_3_param12.out.swp
