
Primer año/Programas C/Clave Privada.ppk
Primer año/Programas C/Clave Pública
*.file
*.png
Presentación transcrítico/Transcritica logarítmica/Strogatz ejemplo
*.pdf
Primer año/Temas avanzados de fluidos/**
*.jpg
